<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalExaminations</title>
    <link href="~/css/fonts.css" rel="stylesheet" />
    
    <style>
        * {
            font-family: Inter, sans-serif;
        }
    </style>
</head>
<body>
    @RenderSection("style", required: false)
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
