@import "fonts.css";

* {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #BFCDE0;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #3B3355;
    display: flex;
}

nav a {
    width: 70px;
    display: block;
    border-left: 1px solid #BFCDE0;
    color: #BFCDE0;
    text-decoration: none;
}

nav a:first-child {
    border: none;
}

nav .registries {
    color: #BFCDE0;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    width: 90%;
    border-left: 1px solid #BFCDE0;
}

nav .registries a {
    width: fit-content;
    padding: 16px 16px;
}

nav a:first-child img {
    margin: 12px 16px;
}

nav a img {
    width: 40px;
    margin: 16px 16px;
}

h1 {
    font-size: 48px;
    color: #3B3355;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-left: 1.67%;
    margin-bottom: 5px;
}

.content {
    width: 96.8%;
    height: 78vh;
    margin: auto;
    display: flex;
}

.content .table {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
}

.content .table table {
    font-size: 14px;
}

.content .edit {
    width: 26.53%;
    margin-left: 1%;
}

.content .edit .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22%;
}

.content .edit .buttons button {
    margin: auto;
    width: 60%;
    height: 29%;
    color: #BFCDE0;
    font-size: 24px;
    font-weight: 500;
    background-color: #3B3355;
    border: none;
    border-radius: 8px;
}

.content .edit .filtering, 
.content .edit .sorting {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
}

.content .edit .filtering .label, 
.content .edit .sorting .label {
    height: 33px;
    display: flex;
    border: 1px solid #3B3355;
}

.content .edit img {
    width: 25px;
    vertical-align: middle;
    margin: 8px;
}

.content .edit h2 {
    margin: 0;
    margin-top: 1px;
    font-size: 24px;
    font-weight: 400;
    color: #3B3355;
    height: fit-content;
}

.content .edit .fields {
    height: 160px;
    display: none;
    padding: 2.5px 9px 5px 9px;
    border: 1px solid #3B3355;
    border-top: none;
}

.content .edit .fields form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .edit .fields form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #3B3355;
    font-size: 20px;
}

.content .edit .fields form label select {
    margin: 0;
    padding: 2px 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #3B3355;
}

.content .edit .fields form label input {
    margin: 0;
    padding: 2px 5px;
    width: 96%;
    height: 24px;
    border: 1px solid #3B3355;
}

.content .edit .fields form .form-buttons {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
}

.content .edit .fields form .form-buttons button {
    margin: 0;
    padding: 0;
    width: 46%;
    height: 100%;
    color: #BFCDE0;
    line-height: 0.9;
    background-color: #3B3355;
    border: none;
}

button, img {
    cursor: pointer;
}