@{
    ViewData["Title"] = "Главная форма";
}

@section style {
    <link rel="stylesheet" href="~/css/mainform.css" />
}

<img src="~/img/background.png">

<div class="registries">
    <h1>Список реестров</h1>
    <div class="registries-buttons">
        <a asp-action="Index" asp-controller="Animals"><input type="button" value="Животные" /></a>
        <a asp-action="Index" asp-controller="Organizations"><input type="button" value="Организации" /></a>
        <a asp-action="Index" asp-controller="Contracts"><input type="button" value="Муниципальные контракты" /></a>
    </div>
    <a asp-action="Index" asp-controller="Authorization"><input class="exit" type="button" value="Выход" /></a>
</div>